BR2_x86_64=y
BR2_SHARED_LIBS=y
# BR2_STATIC_LIBS is not set
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_LZMA=y
BR2_TARGET_ROOTFS_INITRAMFS=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_USE_WCHAR=y
BR2_PACKAGE_PHP=y
BR2_PACKAGE_PHP_SAPI_CLI=y
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_BINUTILS_TARGET=y
BR2_PACKAGE_XZ=y
BR2_PACKAGE_CPIO=y
BR2_PACKAGE_KEXEC=y
BR2_PACKAGE_KEXEC_ZLIB=y

BR2_TOOLCHAIN_BUILDROOT_MUSL=y
BR2_PACKAGE_QUICKJS=y

BR2_PACKAGE_EUDEV=y
# Use custom busybox to enable `stat`
BR2_PACKAGE_BUSYBOX_CONFIG="board/syno/busybox.config"

#
# Kernel
#
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_LINUX_KERNEL_LZMA=y

BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_EUDEV=y
BR2_ROOTFS_OVERLAY="board/syno/rootfs-overlay"
